@import url("stylesheet.css");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #0c0f19;
  font-family: "Barlow Condensed";
  color: white;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__flex {
  margin-top: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  width: 48px;
  height: 48px;
}

.header__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 4.05px;
  color: #D0D6F9;
}

.colors {
  padding: 100px 0 148px 0;
}

.colors__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors__item {
  width: 350px;
  min-height: 200px;
  padding: 0 10px;
}

.colors__box {
  position: relative;
  height: 116px;
  background: #0B0D17;
  border: 1px solid #616476;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.colors__box p {
  margin: 0;
  position: absolute;
  top: 64px;
  left: 24px;
}

.colors__box_bgbl {
  background-color: #D0D6F9;
  color: black;
}

.colors__box_bggr {
  background-color: #FFFFFF;
  color: black;
}

.colors__type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 62px;
     -moz-column-gap: 62px;
          column-gap: 62px;
}

.colors__name {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #D0D6F9;
}

.colors__xr {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.title {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 48px;
}

.title > span {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
}

h1 {
  font-family: 'Bellefair';
  font-weight: normal;
  font-size: 150px;
  line-height: 172px;
  color: #FFFFFF;
}

h2 {
  font-family: 'Bellefair';
  font-weight: normal;
  font-size: 100px;
  line-height: 115px;
  color: #FFFFFF;
}

h3 {
  font-family: 'Bellefair';
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h4 {
  font-family: 'Bellefair';
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h5 {
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #D0D6F9;
}

.headers-typography__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin-bottom: 8px;
  font-family: 'Barlow';
}

.headers-typography__title_dark {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.headers-typography__h1 {
  margin-bottom: 24px;
}

.headers-typography__h2 {
  margin-bottom: 24px;
}

.headers-typography__h3 {
  margin-bottom: 40px;
}

.headers-typography__h4 {
  margin-bottom: 48px;
}

.headers-typography__sub1 {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.headers-typography__sub2 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.headers-typography__nav {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.headers-typography__body {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 540px;
}

.typography {
  padding-bottom: 183px;
}

.typography__headers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.interactive__nav {
  margin-top: 100px;
  margin-bottom: 75px;
}

.interactive__states {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 27px;
}

.interactive__explores {
  padding: 0 88px;
}

.interactive__explore_hover {
  margin-bottom: 100px;
  margin-top: 140px;
}

.interactive__idle-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #D0D6F9;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 52px;
}

.interactive__anothers {
  margin-right: 126px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.interactive__tabs {
  margin-top: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 205px;
}

.interactive__text-tabs {
  margin-top: 24px;
  margin-bottom: 162px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  font-family: 'Barlow';
}

.interactive__text-sliders {
  margin-top: 24px;
  margin-bottom: 121px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  font-family: 'Barlow';
}

.interactive__tab {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 12px;
  cursor: pointer;
}

.interactive__tab_active:after {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: -20%;
  border-bottom: solid 2px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.interactive__tab:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: -20%;
  border-bottom: solid 2px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0.5;
}

.interactive__tab_hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.interactive__sliders {
  width: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}

.interactive__slider {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  opacity: 0.17;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.interactive__slider_active {
  opacity: 1;
  z-index: 2;
}

.interactive__slider_hover {
  opacity: 0.5;
  z-index: 1;
}

.interactive__big-sliders {
  width: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
}

.interactive__big-slider {
  cursor: pointer;
  width: 84px;
  height: 84px;
  border: #616476 solid 2px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-family: 'Bellfair';
  text-align: center;
}

.interactive__big-slider span {
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}

.interactive__big-slider_hover {
  border: white solid 2px;
  z-index: 1;
}

.interactive__big-slider_active {
  background-color: #FFFFFF;
  color: black;
  border: none;
  z-index: 2;
}

.nav-interactive__tabs {
  padding-left: 0;
  height: 96px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 138px;
     -moz-column-gap: 138px;
          column-gap: 138px;
  list-style: none;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
}

.nav-interactive__tab {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  position: relative;
  /* &:hover::before{
            transform: scaleX(1);
        }
        &:active::before{
            transform: scaleX(1);
            opacity: 1;
        }*/
}

.nav-interactive__tab span {
  font-weight: bold;
  margin-right: 5px;
}

.nav-interactive__tab_active:after {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: -20%;
  border-top: solid 2px;
  margin-top: -35px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.nav-interactive__tab:before {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: -20%;
  border-top: solid 2px;
  margin-top: -35px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0.5;
}

.nav-interactive__tab_hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-interactive__diff {
  font-family: 'Barlow';
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  text-align: center;
}

.explore {
  width: 274px;
  height: 274px;
  background-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0B0D17;
  font-family: 'Bellefair';
  cursor: pointer;
  border: none;
  position: relative;
  -webkit-transition: 0.9s all;
  -o-transition: 0.9s all;
  transition: 0.9s all;
}

.explore:hover {
  -webkit-box-shadow: 0 0 22px 88px rgba(97, 97, 97, 0.2);
          box-shadow: 0 0 22px 88px rgba(97, 97, 97, 0.2);
}

.footer {
  background: url("../img/footer/footer-bg.png") center center/cover no-repeat;
  height: 428px;
}
