@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: white;
  font-family: 'ProximaNova';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #282B38;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  min-height: 100px;
  padding: 25px 0;
  z-index: 10;
  background-color: #282B38;
  position: fixed;
  left: 50%;
  top: 0;
  /* Выводим в центре */
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  row-gap: 20px;
  height: 50px;
}

.header__submit {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 170px;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  height: 50px;
  background-color: #E58D35;
  border: none;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  font-weight: 600;
  font-size: 15px;
  line-height: 146%;
  color: white;
}

.header__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 172px;
      -ms-flex: 0 0 172px;
          flex: 0 0 172px;
}

.header__nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 600px;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.header__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 146%;
}

@media (max-width: 1200px) {
  .header__nav {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 500px;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px;
  }
}

@media (max-width: 900px) {
  .header__logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50px;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    overflow: hidden;
  }
  .header__container {
    height: 100%;
    min-height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav {
    display: none;
  }
}

@media (max-width: 492px) {
  .header__container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

.promo {
  padding-top: 85px;
}

.swiper__slide {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  position: relative;
}

.swiper__img {
  background: url("../img/promo/first-slide.png") center center/cover no-repeat;
  width: 94.7%;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 5px;
  height: 700px;
  max-height: 700px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-background-size: cover;
          background-size: cover;
}

.swiper__img_second {
  background: url("../img/promo/second-slide.png") center center/cover no-repeat;
}

.swiper__img_third {
  background: url("../img/promo/third-slide.png") center center/cover no-repeat;
}

.swiper__img_fourth {
  background: url("../img/promo/fourth-slide.png") center center/cover no-repeat;
}

.swiper__title {
  padding-top: 178px;
  font-weight: 700;
  font-size: 56px;
  line-height: 126%;
  text-transform: uppercase;
  max-width: 460px;
  color: #FFFFFF;
}

.swiper__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 135.5%;
  color: #FFFFFF;
  max-width: 345px;
}

.swiper__link {
  text-decoration: none;
}

.swiper__link-text {
  padding-left: 33px;
  padding-top: 22px;
  margin-top: 37px;
  font-weight: 600;
  font-size: 16px;
  line-height: 146%;
  height: 68px;
  width: 290px;
  background-color: #E58D35;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  position: relative;
}

.swiper__link-text:after {
  content: '';
  position: absolute;
  top: 21px;
  right: 20px;
  width: 27px;
  height: 27px;
  background-image: url("../img/promo/arrow-right.svg");
}

.swiper__link-text:active::after {
  right: 18px;
}

.swiper .swiper-button-next::after {
  font-size: 46;
  color: white;
}

.swiper .swiper-button-prev::after {
  font-size: 46;
  color: white;
}

.swiper .swiper-button-prev {
  left: 10.4vw;
}

.swiper .swiper-button-next {
  right: 10.4vw;
}

.swiper .swiper-pagination {
  bottom: 80px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: white;
  border: 1px solid white;
  margin: 0 13px;
}

.btn-link__arrow {
  width: 26px;
  height: 26px;
}

@media (max-width: 492px) {
  .swiper__title {
    font-size: 32px;
    text-align: center;
    max-width: 375px;
    width: 100%;
    margin-bottom: 10px;
  }
  .swiper__img {
    width: 100%;
  }
  .swiper__subtitle {
    text-align: center;
    max-width: none;
  }
  .swiper__slide {
    padding: 0;
  }
  .swiper__link-text {
    margin: 33px auto 0 auto;
  }
  .swiper .swiper-button-prev {
    display: none;
  }
  .swiper .swiper-button-next {
    display: none;
  }
}

.calculate {
  min-height: 920px;
  padding-top: 60px;
}

.form-calculate__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 626px;
  margin-bottom: 62px;
}

.form-calculate__title span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #89C249;
  margin-left: 20px;
}

.form-first {
  background: #363A4D;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  min-height: 600px;
  max-width: 630px;
  width: 100%;
  position: relative;
  padding: 70px 50px 40px 50px;
}

.form-first__inputs {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.form-first__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
  width: 100%;
  outline: none;
  grid-column: span 2;
}

.form-first__input_file {
  grid-column: span 4;
  margin-top: 15px;
  width: 526px;
}

.form-first__checkboxes {
  padding-top: 19px;
  width: 250px;
  grid-column: span 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
  height: 62px;
}

.form-first__text {
  width: 248px;
  height: 56px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: black;
}

.form-first__text::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #CBCBCB;
}

.form-first__text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #CBCBCB;
}

.form-first__text::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #CBCBCB;
}

.form-first__text::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #CBCBCB;
}

.form-first::before {
  padding-top: 15px;
  content: '1';
  text-align: center;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #89C249;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  top: -30px;
  left: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 126%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-first > span {
  padding-top: 15px;
  text-align: center;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #282B38;
  border: 2px solid #363A4D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  top: -30px;
  left: 150px;
  font-weight: 700;
  font-size: 24px;
  line-height: 126%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-first::after {
  padding-top: 15px;
  content: '3';
  text-align: center;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #282B38;
  border: 2px solid #363A4D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  top: -30px;
  left: 250px;
  font-weight: 700;
  font-size: 24px;
  line-height: 126%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-first__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-first__calc {
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  color: #E58D35;
}

.form-first__next {
  margin-top: 6px;
  padding-top: 23px;
  padding-left: 33px;
  width: 253px;
  height: 68px;
  background: #E58D35;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 146%;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
}

.form-first__next:after {
  content: '';
  position: absolute;
  top: 21px;
  right: 20px;
  width: 27px;
  height: 27px;
  background-image: url("../img/promo/arrow-right.svg");
}

.form-first__next:active::after {
  right: 18px;
}

.form-first__next_volume {
  margin-top: 33px;
}

.form-second__inputs {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.form-second__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  grid-column: span 1;
}

.form-second__input_name {
  grid-column: span 2;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 126%;
  height: 24px;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #282B38;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 50% 50%;
          background-size: 50% 50%;
  background-color: white;
}

.custom-checkbox:checked + label::before {
  background-image: url("../img/form/checked.svg");
}

@media (max-width: 900px) {
  .form-calculate__title {
    font-size: 24px;
    text-align: center;
    max-width: 492px;
  }
  .form-second__input {
    grid-column: span 2;
    margin: 0 auto;
  }
  .form-first {
    margin: 0 auto;
  }
}

@media (max-width: 492px) {
  .form-first {
    max-width: 335px;
    margin: 0 auto;
  }
  .form-first::before {
    top: -30px;
    left: 37px;
  }
  .form-first > span {
    top: -30px;
    left: 138px;
  }
  .form-first::after {
    top: -30px;
    left: 239px;
  }
  .form-calculate__title {
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 62px;
  }
}

.file {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  margin-top: 15px;
}

.file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.file__decor {
  margin-top: 18px;
  width: 526px;
  height: 43px;
  text-align: center;
  border: 1px dashed rgba(255, 255, 255, 0.26);
  padding-top: 12px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.file__delete {
  color: #E53535;
}

.benefits {
  min-height: 725px;
  padding-top: 90px;
  background: -webkit-gradient(linear, left bottom, left top, from(#363A4D), to(#363A4D)), #F7F7F7;
  background: -webkit-linear-gradient(bottom, #363A4D, #363A4D), #F7F7F7;
  background: -o-linear-gradient(bottom, #363A4D, #363A4D), #F7F7F7;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
}

.benefits__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin-top: 50px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}

.benefits__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  grid-column: span 3;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefits__icon {
  width: 113px;
  height: 113px;
}

.benefits__sub {
  max-width: 140px;
}

.benefits__sub_lg {
  max-width: 250px;
}

@media (max-width: 900px) {
  .benefits__item {
    grid-column: span 6;
  }
}

@media (max-width: 768px) {
  .benefits__items {
    max-width: 700px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .benefits__item {
    grid-column: span 2;
  }
}

@media (max-width: 492px) {
  .benefits__items {
    max-width: 335px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin-top: 45px;
  }
  .benefits__item {
    grid-column: span 4;
  }
  .benefits .title {
    font-size: 24px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title__decor {
  width: 85px;
  height: 2px;
  background-color: #E58D35;
  margin: 0 auto;
  margin-top: 20px;
}

.title__decor_green {
  background-color: #89C249;
}

.title__decor_left {
  margin: 0;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 492px) {
  .title {
    font-size: 18px;
  }
}

.delivery {
  min-height: 795px;
  padding: 100px 0;
}

.delivery .title__decor {
  margin-bottom: 36px;
}

.card-delivery {
  max-width: 360px;
  width: 100%;
  height: 482px;
  background: -webkit-gradient(linear, left bottom, left top, from(#363A4D), to(#363A4D)), #F7F7F7;
  background: -webkit-linear-gradient(bottom, #363A4D, #363A4D), #F7F7F7;
  background: -o-linear-gradient(bottom, #363A4D, #363A4D), #F7F7F7;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-delivery__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 13px;
}

.card-delivery__icon_img {
  margin-right: 10px;
}

.card-delivery__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 124.5%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 27px;
}

.card-delivery__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  margin-top: 18px;
}

.card-delivery__price {
  font-weight: 400;
  font-size: 22px;
  line-height: 124.5%;
  text-align: center;
  margin-top: 15px;
}

.card-delivery__price span {
  color: #A3A3A3;
  margin-right: 2px;
}

.delivery-swiper {
  margin-top: 50px;
  max-width: 1170px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.delivery-swiper .swiper-pagination {
  bottom: 0;
}

.delivery-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: white;
  border: 1px solid white;
  margin: 0 13px;
}

@media (max-width: 492px) {
  .delivery-swiper {
    height: 522px;
    max-width: 375px;
    margin: 0 auto;
  }
}

.button {
  font-weight: 600;
  font-size: 15px;
  line-height: 146%;
  text-align: center;
  color: #FFFFFF;
  width: 153px;
  height: 50px;
  background: #E58D35;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  padding-top: 14px;
  cursor: pointer;
}

.button_transparent {
  background-color: transparent;
  border: 1px solid #E58D35;
}

.services {
  min-height: 795px;
  padding: 100px 0;
  max-width: 1820px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#363A4D), to(#363A4D)), #F7F7F7;
  background: -webkit-linear-gradient(bottom, #363A4D, #363A4D), #F7F7F7;
  background: -o-linear-gradient(bottom, #363A4D, #363A4D), #F7F7F7;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

@media (max-width: 492px) {
  .services .title__decor {
    margin-bottom: 36px;
  }
}

.card-services {
  max-width: 360px;
  width: 100%;
  height: 482px;
  padding: 250px 23px 33px 30px;
  -webkit-border-radius: 20px 20px 20px 20px;
          border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
  position: relative;
}

.card-services_first {
  background: url("../img/services/first-card-bg.png") center center/cover no-repeat;
}

.card-services_second {
  background: url("../img/services/second-card-bg.png") center center/cover no-repeat;
}

.card-services_third {
  background: url("../img/services/third-card-bg.png") center center/cover no-repeat;
}

.card-services_fourth {
  background: url("../img/services/fourth-card-bg.png") center center/cover no-repeat;
}

.card-services__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 124.5%;
  margin-bottom: 13px;
  color: #FFFFFF;
}

.card-services__description {
  max-width: 307px;
  font-weight: 400;
  font-size: 15px;
  line-height: 124.5%;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.form-popup__dropdown .menu {
  width: 248px;
  height: 56px;
  background-color: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-top: 5px;
}

.form-popup__dropdown .menu__text {
  color: black;
  padding-top: 18px;
  padding-left: 20px;
}

.form-popup__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.form-popup__text {
  width: 248px;
  height: 56px;
  background-color: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-top: 5px;
  color: black;
  padding-left: 20px;
}

.popup {
  width: 354px;
  height: 627px;
  background: #363A4D;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 48px 53px 40px 53px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 13px;
  height: 13px;
  color: #7E839A;
  text-decoration: none;
  background: url("../img/popup/close.svg");
}

.popup__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 126%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 23px;
}

.about {
  min-height: 722px;
  padding-bottom: 146px;
  padding-top: 72px;
}

.about__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.about__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about .title__decor {
  margin-bottom: 44px;
}

.about__title {
  text-align: left;
  margin-top: 73px;
}

.about__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.about__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__img img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 900px) {
  .about__title {
    text-align: center;
  }
  .about .title__decor {
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 22px;
  }
}

@media (max-width: 492px) {
  .about__text {
    text-align: justify;
    margin: 0 auto;
    max-width: 335px;
  }
  .about__img {
    max-width: 335px;
  }
}

body {
  font-family: 'ProximaNova';
  font-weight: normal;
  font-size: 16px;
  line-height: 146%;
}

button {
  font-family: 'ProximaNova';
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 492px;
  }
}

@media (max-width: 492px) {
  .container {
    max-width: 375px;
  }
}
